# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Environment variables
.env

# Build files
frontend/build/
backend/dist/

# OS files
.DS_Store
Thumbs.db

# Temporary files
.temp/
.cache/
